@import "../../../styles/root.scss";
@import "../../../styles/mixins.scss";

$fontSize: 20px;

.alert {
    @include border(2px);
    font-size: $fontSize;
    padding: 2px 10px;
}

.warning {
    background-color: $yellow;
}

.error {
    background-color: $red;
    -webkit-text-stroke: 1px $white;
}