@import "../../../../styles/root.scss";
@import "../../../../styles/mixins.scss";

$blockWidth: 90px;

.time {
    position: absolute;
    user-select: none;
    left: 50%;
    top: 5px;

    span {
        display: block;
        width: $blockWidth;
        @include text(28px, "Pangolin");
        @include border(1px, 0);
        text-align: center;
        user-select: none;
        background-color: $white 50%;
        padding: 0 3px;
    }
}
