@import "../../styles/root.scss";
@import "../../styles/mixins.scss";

$chatImg: 40px;
$titleSize: 40px;

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chat {
    @include border(1px, 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5px 10px;
}

.lobby {
    background-color: $yellow;
}

.game {
    background-color: $gray;
}

.messages {
    max-height: 65vh;
    padding: 10px 0;
    overflow-y: auto;
}

.chatOpenner {
    @include border(1px, 10px);
    @include text($titleSize, Neucha, bold);
    display: grid;
    justify-self: right;
    grid-template-columns: $chatImg auto;
    gap: 5px;
    align-items: center;
    background-color: $yellow;
    cursor: pointer;
    padding: 0 10px;

    img {
        height: $chatImg;
        width: $chatImg;
    }
}

.title {
    @include text($titleSize, Neucha, 400, $white);
    @include textWrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;

    img {
        width: $chatImg;
        height: $chatImg;
        cursor: pointer;
    }
}

.form {
    @include border(2px, 20px);
    display: flex;
    align-items: center;
    position: relative;
    background-color: $orange;
}

.input_chat {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 19px;
}

.send {
    @include center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;

    img {
        max-width: 55px;
        scale: 1.1;
    }
}

/* .chat_container {
    @include border(0);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message_container {
    max-height: 300px;
    overflow: auto;
}

.lobby {
    background-color: $yellow;
    border: $defBorder;
}

.body_chat {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.chat_messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: $fontFam;
    scrollbar-width: none;
    align-items: flex-start;
    max-height: 300px;
}

.chat_messages_game {
    max-height: 300px;
    max-width: 350px;
    min-width: 300px;
}

.chat_messages::-webkit-scrollbar {
    display: none;
}

.message_text {
    display: inline-block;
    word-break: break-all;
    font-weight: normal;
}

.message_author {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding: 4px;
    border-radius: 17px 17px 17px 0;
    margin: 2px;
    background: $green-yellow;
}

.message_author_user {
    background: $message_author_bg;
}





.rank_img {
    max-width: 40px;
    max-height: 27px;
    margin-left: 2px;
}

.header_chat {
    @include text(48px, $fontFam, bold);
    max-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
        display: flex;
        cursor: pointer;
        user-select: none;
    }
}

.chat_icon_game {
    max-height: 50px;
}

.no_message {
    font-size: 48px;
    font-family: $fontFam;
}
@media (max-width: 1500px) {
    .chat_messages {
        max-height: 350px;
    }
}

@media (max-width: 950px) {
    .message_author,
    .message_author_user {
        font-size: 20px;
    }
    .rank_img {
        display: none;
    }
} */
