@import "../../styles/root.scss";
@import "../../styles/mixins.scss";

$selectedTankBg: #b48686;
$selectedRoleBg: #989898;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.lobby {
    margin-top: 20px;
    display: grid;
    grid-template-columns: [start] 3fr [firstcolend] 30px [secondcolstart] 3fr [secondcolend] 40px [info] 5fr [end];
    height: 100%;
}

.units {
    @include unit;
    grid-column: start / firstcolend;

    .tank_selected {
        background-color: $selectedTankBg;

        &:hover {
            background-color: $selectedTankBg;
        }
    }

    .selected_role {
        transition: all 0;
        cursor: default;
        background-color: $selectedRoleBg;

        &:hover {
            background-color: $selectedRoleBg;
        }
    }
}

.lobby_tanks_info {
    grid-column: secondcolstart / end;
}
