@import "../../styles/root.scss";
@import "../../styles/mixins.scss";

$fontSize: 25px;
$formSize: 70%;
$inputsGap: 10px;
$formGap: 20px;
$contentGap: 30px;
$authWindowBg: #85c18b82;

.authPage {
    @include center;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    @include center;
    height: 100%;
    padding: 20px;
}

.content {
    @include border(2px, 20px);
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $contentGap;
    background: $authWindowBg;
}

.title {
    button {
        @include text($fontSize, Rubik Dirt, 400);
        @include border(5px, 60px);
        padding: 8px 15px;
        width: fit-content;
        background-color: $dark-green;
        width: 100%;
    }
}

.submit {
    padding: 3px 15px;
    font-size: calc($fontSize + 5px);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $formGap;
    height: $formSize;

    .values {
        display: flex;
        flex-direction: column;
        gap: $inputsGap;
    }
}
