@import "../../../styles/root.scss";
@import "../../../styles/mixins.scss";

$svgSize: 35px;
$fontSize: 25px;
$fontWeight: 400;

.wrapper {
    @include border(2px, 15px);
    display: flex;
    align-items: center;
    position: relative;
    background-color: $green-yellow;
    width: $inputWidth;
}

.input {
    @include text($fontSize, Neucha, $fontWeight);
    box-sizing: content-box;
    width: 100%;
    height: 90%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: transparent;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.password {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

.eye {
    margin-right: 1px;
    cursor: pointer;

    svg {
        height: $svgSize;
        width: $svgSize;
    }
}
