@import "../../../../styles/mixins.scss";
@import "../../../../styles/root.scss";

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.leave {
    @include text(20px, "Times New Roman", 800, $white);
    @include border(1px, 20px);
    position: absolute;
    background-color: $red;
    padding: 5px 10px;
    top: 5px;
    left: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
