@import "../../../styles/root.scss";
@import "../../../styles/mixins.scss";

$activeColor: #92f663;
$fontSize: 25px;

.button {
    @include text($fontSize, Neucha, bold);
    @include border(1px, 10px);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.primary {
    color: $black;
    background: $primary-green;

    &:hover {
        background: $primary-green-hover;
    }
}

.secondary {
    @include textWrapper(1px);
    color: $white;
    background-color: $orange;

    &:hover {
        background-color: $dark-orange;
    }
}
