@import "./root.scss";

@mixin text($fontSize, $fontFam, $fontW: 500, $color: $black) {
    font-size: $fontSize;
    font-family: $fontFam;
    font-weight: $fontW;
    color: $color;
}

@mixin border($w: 5px, $r: 10px) {
    border: $w solid $black;
    border-radius: $r;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin textWrapper($size: 1px, $color: $black) {
    text-shadow: $size 0 1px $color,
            0 $size 1px $color,
            -$size 0 1px $color,
            0 (-$size) 1px $color;
}
