// Colors
$black: #000;
$white: #fff;
$primary-green: #92f663;
$primary-green-hover: #6ed340;
$green: #0f0;
$light-green: #85ba65;
$green-yellow: #ecee77;
$yellow: #ebff00;
$salad: #cfd262;
$salad-light: #92f663;
$dark-green: #afe3c1;
$dark-green-hover: #77bb8f;
$gray: #d9d9d9;
$red: #f00;

$background-gradient: linear-gradient(
    180deg,
    #268a30 0%,
    #a0e0a682 50%,
    rgba(1, 19, 3, 0.68) 100%
);

$defBorder: 5px solid $black;
